.card{
    width: 160px;
}

.center{
    display: block;
    margin: 0 auto;
}

#div-content{
    margin: 10px;
    padding: 4px;
    background-color: white;
}

.fa-bars{
    color: #3F538F;
    font-size: x-large;
}

form h2{
    text-align: center;
    padding-bottom: 10px;
}

.form-login{
    width: 300px;
    height: 400px;
    padding: 10px;
}

i{
    font-size: 22px;
    vertical-align: middle;
}

.img-anexo{
    width: 180px;
    height: 110px;
    margin: 2px;
}

.img-cards{
    width: 158px;
    height: 100px;
}

.img-logo{
    max-width: 30%;
    max-height: 30%;
}

input{
    margin-bottom: 4px;
}

.nav-link{
    margin-left: 1rem;
}

td i{
    padding:2px;
}