.bg-darkblue{
    background-color: #315291;
}

.card{
    width: 160px;
}

.center{
    display: block;
    margin: 0 auto;
}

#div-content{
    margin: 10px;
}

form h2{
    text-align: center;
    padding-bottom: 10px;
}

.form-login{
    width: 300px;
    height: 400px;
    padding: 10px;
}

.img-anexo{
    width: 160px;
    height: 90px;
    margin: 2px;
}

.img-demo{
    max-width: 95%;
    max-height: 80vh;
}

.img-logo{
    max-width: 30%;
    max-height: 30%;
}

.nav-link{
    font-size: 20px;
    padding-bottom: .7rem;
}