.bg-darkblue{
    background-color: #315291;
}

body{
    padding-top: 66px;
    background-color: darkblue;
}

.card{
    width: 160px;
    color: black;
}

.center{
    display: block;
    margin: 0 auto;
}

#div-background{
    background-image: url("img/background.jpeg");
    background-size: 100vw calc(100vh - 66px);
    width: 100vw;
    height: calc(100vh - 66px);
    position: fixed;
    z-index: -1;
    opacity: 0.66;
}

#div-content{
    margin: 10px;
    color: white;
}

#div-content a{
    color: aqua;
}

form h2{
    text-align: center;
    padding-bottom: 10px;
}

.form-login{
    width: 300px;
    height: 400px;
    padding: 10px;
}

i{
    font-size: 22px;
    vertical-align: middle;
}

.img-anexo{
    width: 160px;
    height: 90px;
    margin: 2px;
}

.img-demo{
    max-width: 95%;
    object-fit: contain;
    padding: 10px;
}

.img-logo{
    max-width: 30%;
    max-height: 30%;
}

.modal, .table-light{
    color: black
}

.nav-link{
    font-size: 20px;
    padding-bottom: .7rem;
}